@tailwind base;
@tailwind components;
@tailwind utilities;
.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
  padding: 30px !important;
}
.react-tabs__tab--selected {
  color: #ffffff !important;
  overflow: hidden !important;
  background: #26a4de !important;
}
.rdw-editor-main {
  border: 1px solid black;
  margin-bottom: 50px;
}
ol {
  list-style-type: decimal;
}

li {
  font-size: 24px !important;
  font-weight: 500 !important;
}
.inlinex {
  font-size: 24px !important;
  font-weight: 500 !important;
}
.list2 li {
  list-style: none;
}

/* CSS for the left side */

/* Style for the question content (you can customize as needed) */
.question-content {
  background-color: #fff;
  margin-left: 2%;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.question-content h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Style for radio options (customize as needed) */
/* Define a circular button style */
.circle-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 36px;
  border-radius: 20%; /* Makes it circular */
  background-color: #26A4DE; /* Change to your desired background color */
  color: white; /* Text color */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.circle-button-bank {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 36px;
  border-radius: 20%; /* Makes it circular */
  background-color: #26A4DE; /* Change to your desired background color */
  color: white; /* Text color */
  font-size: 16px;

  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

 
/* Add a hover effect */
.circle-button:hover {
  background-color: #963505; /* Change to your desired hover background color */
  transform: scale(1.1); /* Adds a slight scaling effect on hover */
}

.circle-option{
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.circle-option:hover{
  background-color: #059669; /* Change to your desired hover background color */
  transform: scale(1.1);
}